.sing-content
  .registrations-new__wrapper
    .registrations-new__wrapper__nav
      会員情報入力
    .registrations-new__wrapper__form
      .registrations-new__wrapper__form__set
        = form_for(@user, url: user_registration_path) do |f|
          = render "devise/shared/error_messages", resource: @user
          .registrations-new__wrapper__form__set__nickname
            ニックネーム
            %span.form-require 必須
            %br/
            = f.text_field :nickname, placeholder: '例）hurima'
          .registrations-new__wrapper__form__set__email
            メールアドレス
            %span.form-require 必須
            %br/
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
          .registrations-new__wrapper__form__set__password
            パスワード
            %span.form-require 必須
            %br/
            = f.password_field :password, placeholder: '7文字以上の半角英数字' 
            .registrations-new__wrapper__form__set__password__desc
              ※ 英字と数字の両方を含めて設定してください
          .registrations-new__wrapper__form__set__passwordconfirmation
            = f.label :password_confirmation
            %span.form-require 必須
            %br/
            = f.password_field :password_confirmation, placeholder: 'パスワードをもう一度入力してください' 

  %main.profile-main
    %section.profile-main__content   
      %h2.profile-main__content__title
        本人確認
        <br>
        安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。
        <br>
        他のお客様には公開されることはありません。
        
      .profile-main__form
        .profile__form
          =form_for(@user, url: user_registration_path, method: :post) do |f|
            =render "devise/shared/error_messages", resource: @user
            .profile-group          
              = f.label :お名前
              %span.profile-group__require 必須
              %br
              = f.text_field :family_name, {placeholder:"例) 山中",class:'profile-group__input--left'}
              = f.text_field :first_name, {placeholder:"例) 拓也",class:'profile-group__input--left'}
            .profile-group
              = f.label :お名前カナ
              %span.profile-group__require 必須
              %br
              = f.text_field :family_name_kana, {placeholder:"例) ヤマナカ",class:'profile-group__input--left'}
              = f.text_field :first_name_kana, {placeholder:"例) タクヤ",class:'profile-group__input--left'}
            .profile-group
              = f.label :生年月日
              %span.profile-group__require 必須
              %br
              = f.date_select :birth_date, { use_month_numbers:true, prompt:"--", end_year:1900, class:'profile-group__input--half'}
              <br>
              本人情報は正しく入力してください。
              <br>
              会員登録後、修正するにはお時間をいただく場合があります。
              
            .profile-group
              = f.submit '送付先の入力画面へ', class: "profile-btn", url: "sending_destination_path"　；