.listing-main
  .listing-containar
    .listing-header

    .listing-body
      = form_tag("#", method: :post, id: 'charge-form',  name: "inputForm") do
        .listing-image
          %label.listing-image__tittle 出品画像
          %label.Mandatory 必須
          %br
          %label.listing-image__sub-tittle 最大10枚までアップロードできます
          %br
          = text_field_tag "number", "", class: "credit-namber__area", placeholder: "  半角数字のみ" ,maxlength: "16", type: "text"
          %br
        .listing-item
          %label.listing-item__tittle 商品名
          %label.Mandatory 必須
          %br
          = text_field_tag "number", "", class: "listing-item__tittle--area", placeholder: "  40文字まで" ,maxlength: "40", type: "intager"
          %br
          %label.listing-item__introduct 商品の説明
          %label.Mandatory 必須
          %br
          = text_field_tag "number", "", class: "listing-item__introduct--area", placeholder: "  40文字まで" ,maxlength: "40", type: "intager"
          %br
        .listing-show
          %label.listing-show__category  カテゴリー
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "レディース"}レディース
              %option{value: "メンズ"}メンズ
              %option{value: "ベビー・キッズ"}ベビー・キッズ
              %option{value: "インテリア・住まい・小物"}インテリア・住まい・小物
              %option{value: "本・音楽・ゲーム"}本・音楽・ゲーム
              %option{value: "おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
          %br
          %label.listing-show__burand ブランド
          %label.Any 任意
          %br
          = text_field_tag "number", "", class: "credit-expiration__burand--area", placeholder: "  例) シャネル" , type: "text"
          %br
          %label.listing-show__condition  商品の状態
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--condition{name: "condition", type: "text"}
              %option{value: ""} 選択してください
              %option{value: "新品、未使用"}新品、未使用
              %option{value: "未使用に近い"}未使用に近い
              %option{value: "目立った傷や汚れなし"}目立った傷や汚れなし
              %option{value: "やや傷や汚れなし"}やや傷や汚れなし
              %option{value: "傷や汚れあり"}傷や汚れあり
              %option{value: "全体的に状態が悪い"}全体的に状態が悪い
          %br
        .listing-delivery                    
          %label.credit-contents 配送について
          %br
          %label.credit-contents 配送料の負担
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "送料込み(出品者負担)"}送料込み(出品者負担)
              %option{value: "着払い(購入者負担)"}着払い(購入者負担)
          %br
          %label.credit-contents 発送元の地域
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "レディース"}レディース
              %option{value: "メンズ"}メンズ
              %option{value: "ベビー・キッズ"}ベビー・キッズ
              %option{value: "インテリア・住まい・小物"}インテリア・住まい・小物
              %option{value: "本・音楽・ゲーム"}本・音楽・ゲーム
              %option{value: "おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
          %br 
          %label.credit-contents 発送までの日数
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "レディース"}1〜2で発送
              %option{value: "メンズ"}2〜3で発送
              %option{value: "ベビー・キッズ"}4〜7で発送
        .listing-price
          %label.listing-price__description 価格(¥300〜9,9999,999)
          %label.listing-price__tittle 販売価格
          %label.Mandatory 必須
          %span ¥
          %br
          %label.listing-price__fee 販売手数料 (10%)
          = text_field_tag "number", "", class: "listing-item__tittle--area" ,maxlength: "40"
        .Listing-form
          = submit_tag "出品する", class: "listning_submit"
          = submit_tag "下書きに保存", class: "draft_submit"