.listing-main
  .listing-containar
    .listing-header
      = link_to (image_tag ("logo.png"), class:"header-btn"), "#" 
    .listing-body
      = form_with url: "#" do |form|
        .listing-image
          %label.listing-image__tittle 出品画像
          %label.Mandatory 必須
          %br
          .listing-image__sub-tittle 最大10枚までアップロードできます
          %br
          = form.fields_for :images do |i|
            .input-area
              = i.file_field :image, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
              %label.listing-camera{for: "img-file"}
                %i.fas.fa-camera
                %br
              .listing-introduct
                %label ドラックアンドドロップ
                %br
                %label またはクリックしてファイルをアップロード
        .listing-item
          %label.listing-item__tittle 商品名
          %label.Mandatory 必須
          %br
          = form.text_field :name , class: "listing-item__tittle--area", placeholder: "  40文字まで" ,maxlength: "40"
          %br
          %label.listing-item__introduct 商品の説明
          %label.Mandatory 必須
          %br
          = form.text_area :introduction, class: "listing-item__tittle--space", placeholder: "  商品の説明（必須 1000文字以内）\n （色、素材、重さ、定価、注意点など）\n\n  例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありませ\n  ん。あわせやすいのでおすすめです。" ,maxlength: "40"
          %br
        .listing-show
          %label.listing-show__category  カテゴリー
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "レディース"}レディース
              %option{value: "メンズ"}メンズ
              %option{value: "ベビー・キッズ"}ベビー・キッズ
              %option{value: "インテリア・住まい・小物"}インテリア・住まい・小物
              %option{value: "本・音楽・ゲーム"}本・音楽・ゲーム
              %option{value: "おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
          %br
          %label.listing-show__brand ブランド
          %label.Any 任意
          %br
          = form.text_field :brand_id, class: "listing-show__brand--area", placeholder: "  例) シャネル"
          %br
          %label.listing-show__size  サイズ
          %label.Any 任意
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "condition", type: "text"}
              %option{value: ""} 選択してください
              %option{value: "S"} S
              %option{value: "M"} M
              %option{value: "L"} L
          %br
          %label.listing-show__condition  商品の状態
          %label.Mandatory 必須
          %br
          .listing-show__area
            %select.listing-show__area--category{name: "condition", type: "text"}
              %option{value: ""} 選択してください
              %option{value: "新品、未使用"}新品、未使用
              %option{value: "未使用に近い"}未使用に近い
              %option{value: "目立った傷や汚れなし"}目立った傷や汚れなし
              %option{value: "やや傷や汚れなし"}やや傷や汚れなし
              %option{value: "傷や汚れあり"}傷や汚れあり
              %option{value: "全体的に状態が悪い"}全体的に状態が悪い
          %br
        .listing-delivery                    
          .listing-delivery__show 配送について
          %br
          %label.listing-delivery__burden 配送料の負担
          %label.Mandatory 必須
          %br
          .listing-delivery__area
            %select.listing-delivery__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "送料込み(出品者負担)"}送料込み(出品者負担)
              %option{value: "着払い(購入者負担)"}着払い(購入者負担)
          %br
          %label.listing-delivery__prefectures 発送元の地域
          %label.Mandatory 必須
          %br
          .listing-delivery__area
            %select.listing-delivery__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "北海道"}北海道
              %option{value: "東北地方"}東北地方
              %option{value: "関東地方"}関東地方
              %option{value: "中部地方"}中部地方
              %option{value: "関西地方"}関西地方
              %option{value: "中国地方"}中国地方
              %option{value: "四国地方"}四国地方
              %option{value: "九州地方、沖縄地方"}九州地方、沖縄地方
          %br 
          %label.listing-delivery__day 発送までの日数
          %label.Mandatory 必須
          %br
          .listing-delivery__area
            %select.listing-delivery__area--category{name: "category", type: "text"}
              %option{value: ""} 選択して下さい
              %option{value: "1〜2"}1〜2で発送
              %option{value: "2〜7"}2〜7で発送
              %option{value: "4〜7"}4〜7で発送        
        .listing-price
          .listing-price__description 価格(¥300〜9,9999,999)
          %br
          %label.listing-price__tittle 販売価格
          %label.Mandatory 必須
          %span.listing-price__enn ¥
          = form.text_field :price , class: "listing-price__area" ,placeholder: "                                         0"
          %br
          .listing-price__fee 販売手数料 (10%)
        .Listing-form
          = form.submit "出品する", class: "listing_submit"
          = form.submit "下書きに保存", class: "draft_submit"