.pickup-container
  .pickup-container__title
    ピックアップカテゴリー
    .pickup-container__product
      = link_to "新規投稿商品", "#", class:"product__head"
      .pickup-container__product__item
        = link_to "#" do
          .pickup-container__product__item__image
            = image_tag "image_6.jpg", class:"item-image"
            .pickup-container__product__item__body
              .pickup-container__product__item__body__title
                近江牛ステーキ
                .pickup-container__product__item__body__text
                  %ul 
                    %li
                      2,000円
                    %li
                      ★ 1
                .pickup-container__product__item__body__tax
                  (税込)
        = link_to "#" do
          .pickup-container__product__item__image
            = image_tag "image_2.jpg", class:"item-image"
            .pickup-container__product__item__body
              .pickup-container__product__item__body__title
                テキスト
                .pickup-container__product__item__body__text
                  %ul 
                    %li
                      1,000円
                    %li
                      ★ 1
                .pickup-container__product__item__body__tax
                  (税込)
        = link_to "#" do
          .pickup-container__product__item__image
            = image_tag "image_3.png", class:"item-image"
            .pickup-container__product__item__body
              .pickup-container__product__item__body__title
                テキスト
                .pickup-container__product__item__body__text
                  %ul 
                    %li
                      1,000円
                    %li
                      ★ 1
                .pickup-container__product__item__body__tax
                  (税込)
        = link_to "#" do
          .pickup-container__product__item__image
            = image_tag "image_4.png", class:"item-image"
            .pickup-container__product__item__body
              .pickup-container__product__item__body__title
                テキスト
                .pickup-container__product__item__body__text
                  %ul 
                    %li
                      1,000円
                    %li
                      ★ 1
                .pickup-container__product__item__body__tax
                  (税込)
        = link_to "#" do
          .pickup-container__product__item__image
            = image_tag "image_5.png", class:"item-image"
            .pickup-container__product__item__body
              .pickup-container__product__item__body__title
                テキスト
                .pickup-container__product__item__body__text
                  %ul 
                    %li
                      1,000円
                    %li
                      ★ 1
                .pickup-container__product__item__body__tax
                  (税込)
.pickup-container
  .pickup-container__title
    ピックアップブランド
    .pickup-container__product
      = link_to "アーカイバ", "#", class:"product__head"
      .pickup-container__product__item
        - @items.last(5).each do |item|
          .pickup-container__product__item__image
            = link_to "#" do
              -# = image_tag item.item_images.image, class:"item-image"
              = item.item_images[0].image.url
              .pickup-container__product__item__body
                .pickup-container__product__item__body__title
                  = item.name
                  .pickup-container__product__item__body__text
                    %ul 
                      %li
                        = item.price
                      %li
                        ★ 1
                  .pickup-container__product__item__body__tax
                    (税込)