.show-item__box
  %table
    %tr
      %th 出品者
      %td
        = item.user.nickname
    %tr
      %th カテゴリ
      %td= link_to item.category.name, "#", class:"category-name"
    %tr
      %th ブランド
      %td 
        - if item.brand_id
          = item.brand.name
        
        
    %tr
      %th 商品サイズ
      %td 
        - if item.size_id
          = item.size.size
    %tr
      %th 商品状態
      %td 
        = item.condition.condition
    %tr
      %th 配送料の負担
      %td 
        = item.postage_payer.postage_payer
    %tr
      %th 発送元の地域
      %td 
        = item.prefecture.prefecture
    %tr
      %th 発送日の目安
      %td 
        = item.preparation_day.preparation_day